body {
    background-color: aqua;
    text-align: center;
    font-family: "Arial", Arial, serif;
    font-size: 172%;
}

h1 {
    font-family: "Ostrich Sans", OstrichSans, serif;
    font-size: 172%;
}